<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xdmd.environment.subjectAcceptance.mapper.AcceptApplyMapper">

    <select id="queryAcceptApply" resultType="com.xdmd.environment.subjectAcceptance.pojo.CheckApply">
        SELECT
        id,
        topic_name,
        topic_number,
        subject_undertaking_unit,
        unit_nature,
        project_leader,
        project_leader_phone,
        project_leader_mail,
        postal_address,
        agreement_start_time,
        agreement_end_time,
        application_acceptance_time,
        application_acceptance_mode,
        application_acceptance_place,
        acceptance_contact,
        acceptance_contact_phone,
        main_content_situation,
        submission_achievements_situation,
        subject_undertaking_unit_opinion,
        environmental_departments_opinion,
        province_assessment_center_opinion,
        competent_department_oinion,
        submit_inventory
        FROM
        check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>

            <if test="projectLeader != null">
                and project_leader like CONCAT('%',#{projectLeader},'%')
            </if>
        </where>
        limit #{page},#{total}
    </select>

    <select id="queryAllTotal" resultType="Integer">
        select count(*) from check_apply
        <where>
            <if test="topicName != null">
                topic_name like CONCAT('%',#{topicName},'%')
            </if>

            <if test="projectLeader != null">
                and project_leader like CONCAT('%',#{projectLeader},'%')
            </if>
        </where>
    </select>

</mapper>