<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>fileUpload</title>
</head>
<body>
<h1 th:inlines="text">文件上传</h1>
<!--单文件上传 -->
<form action="midFileUpload" method="post" enctype="multipart/form-data">
    <p>合同: <input type="number" name="cid"/></p>
    <p>附件类型: <input type="text" name="fileType"/></p>
    <p>选择文件: <input type="file" name="file"/></p>
    <p><input type="submit" value="单文件提交"/></p>
</form>

</body>
</html>